<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flask Library - {% block title %}Base page{% endblock %}</title>
</head>
<body>
    <div>
        <strong>Flask Library</strong>&nbsp;&nbsp;|&nbsp;&nbsp;
        <!--
            C - Create
            R - Read
            U - Update
            D - Delete
        -->
        <a href="/">Home</a>&nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="{{ url_for('list_books') }}">Book's list</a>&nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="{{ url_for('create_book') }}">Add book</a>&nbsp;&nbsp;|&nbsp;&nbsp;
    </div>
    <hr>
    {% block content %}{% endblock %}
</body>
</html>